<!DOCTYPE html>
<html>
<head>
    <title>Addressbook Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../static/css/core.css"
          th:href="@{/css/core.css}"
          rel="stylesheet" media="screen"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.2.0/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.1/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.1/jquery.min.js}"></script>
</head>
<body>
<div class="container col-md-12">
    <h1>Address book</h1>
</div>

<div class="container" th:replace="fragments/menu :: menu">...</div>

<div class="container col-md-12 center-block">
    <h2>People</h2>

    <div class="col-md-6 center">
        <table class="table table-bordered table-hover">
            <tr>
                <th>First Name</th>
                <th>Middle Name</th>
                <th>Last Name</th>
                <th>Date of Birth</th>
                <th>Classification</th>
                <th>Addresses</th>
            </tr>
            <th:block th:each="person : ${people}">
                <tr>
                    <td th:text="${person.firstName}">...</td>
                    <td th:text="${person.middleName}">...</td>
                    <td th:text="${person.lastName}">...</td>
                    <td th:text="${#dates.format(person.dateOfBirth, 'dd-MM-yyyy')}">...</td>
                    <td th:text="${person.sex}">...</td>
                    <td>
                        <ul>
                        <th:block th:each="address : ${person.addresses}">
                            <li th:text="|City: ${address.city}, Street: ${address.street}, House: ${address.house}, Apartment: ${address.apartment}, Is home: ${address.isHome}|">...</li>
                        </th:block>
                            </ul>
                    </td>
                </tr>
            </th:block>
        </table>
    </div>
</div>

</body>
</html>